*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


html,body{
	height: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}


/**header**/

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    background-color: #130f09;
}

header .logo div{
    float:right;
    text-align: center;
    margin-right: 50%;
    margin-top: 5px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

header .logo img{
  height: 130px;
  width: auto;
    
}

/**promoção**/

section.nossos-precos .flex{
    margin-top: 30px;
}

section .flex p{
    text-align: center;
    font-weight: bolder;
    font-size: 80px; 
}

.nav-galeria{
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
}

.nav-galeria-wraper{
    width: 200%;
    z-index: 2;
}

.mini-img-wraper{
    float: left;
    width: calc(12.5% * (100/200));
    height: 290px;
    border: 1px solid black;
    z-index: 2;
}

.mini-img{
    width: 100%;
	cursor: pointer;
	padding-top:70%;
    height: 100%;
	background-position: center;
	background-size:cover;
}

.maior{
    z-index: 1;
    max-height: 350px;
}

/**pedidos**/

section.pedidos .flex p{
    font-size: 50px;
}

div.confira{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    font-weight: bold;
    font-size: 30px;
}


section.pedidos div.desenho img{
    margin-left: 20%;
    padding-top:100px;
    cursor: pointer;
    
}

/**footer**/

footer{
    width: 100%;
    height: 50px;
    background-color: #303030;
}

footer span{
    color: white;
}

footer .contatos{
    float: right;
    
}

footer .contatos span{
    padding-right: 200px;
}


