*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


html,body{
	height: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}


/**header**/

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    background-color: #130f09;
}

header .logo div{
    float:right;
    text-align: center;
    margin-right: 50%;
    margin-top: 5px;
    color: white;
    font-weight: bolder;
    font-size: 40px;
}

header .logo img{
  height: 130px;
  width: auto;
    
}

/**promoção**/

section.nossos-precos .flex{
    margin-top: 30px;
}

section .flex p{
    text-align: center;
    font-weight: bolder;
    font-size: 80px; 
}

.nav-galeria{
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
}

.nav-galeria-wraper{
    width: 200%;
}

.mini-img-wraper{
    float: left;
    width: calc(12.5% * (100/200));
    height: 250px;
    border: 1px solid black;
}

.mini-img{
    width: 100%;
	cursor: pointer;
	padding-top:70%;
    height: 250px;
	background-position: center;
	background-size: cover;
}
/**contato**/

.back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #170702;
}

.back p{
    font-weight: bolder;
    font-size: 40px;
    text-decoration: underline;
}
.back i{
    font-weight: ;
    font-size: 40px;
}


