<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/7d43f0b2b4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Padaria e Pizaria Primos</title>
</head>
<body>
    <header class="container"><!--header-->
        <div class="logo">
            <img src="img/logo.png">
            <div >
                <p>Padaria e pizzaria<br/>primons</p>
            </div>
        </div><!--logo-->
        <div class="clear"></div>
    </header>

    <section class="section_slide">
        <div class="titulo">
            <div class="button">
                <i class="fa-solid fa-arrow-left" id="voltar"alt="previ-button"></i> <i class="fa-solid fa-arrow-right" id="proxima" alt="next-button"></i>
            </div><!--button-->
            <h2>bebidas</h2>
            <div class="button">
                <i class="fa-solid fa-arrow-left" id="voltar_2"alt="previ-button"></i> <i class="fa-solid fa-arrow-right" id="proxima_2" alt="next-button"></i>
            </div><!--button-->
            <h2>comidas</h2>
        </div><!--titulo-->
        <div class="clear"></div>
        
            <div class="conteiner_slide">
                <div class="conteiner_img">
                    <img src="img/bebidas_1.jpeg" alt="bebidas" class="slider on">
                    <img src="img/bebidas_2.jpeg" alt="bebidas" class="slider">
                    <img src="img/bebidas_3.jpeg" alt="bebidas" class="slider">
                    <img src="img/bebidas_4.jpeg" alt="bebidas" class="slider">
                    <img src="img/bebidas_5.jpeg" alt="bebidas" class="slider">
                </div><!--titulo-->
            </div><!--titulo-->

            <div class="conteiner_slide_2">
                <div class="conteiner_img_2">
                    <img src="img/cardapi_1.jpeg" alt="bebidas" class="slider_2 on">
                    <img src="img/cardapi_2.jpeg" alt="bebidas" class="slider_2">
                    <img src="img/cardapi_3.jpeg" alt="bebidas" class="slider_2">
                    <img src="img/cardapi_4.jpeg" alt="bebidas" class="slider_2">
                </div><!--conteiner_img_2-->
            </div><!--conteiner_slide_2-->
        
        
        <div class="clear"></div>
    </section>

    <section class="pedidos">
        <div class="container">
            <h2>Entre em contato e faça seu pedido </h2>
            <form method="post">
                <div class="form-wraper w100">
                    <input placeholder="nome completo" required name="nome" type="text">
                </div>
                
                <div class="form-wraper w100">
                    <input placeholder="e-mail" required name="Email" type="email">
                </div>
            
                <div class="form-wraper w100">
                    <input placeholder="Telefone" required name="Telefone" type="text"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                </div>
                <div class="form-wraper w100">
                    <textarea name="pedido" placeholder="especifique seu pedido"></textarea>
                </div>
                <div class="form-wraper w100">
                    <h3>Forma de pagamento</h3>
                    <input placeholder="forma de pagamento" required name="pagamento" type="radio">
                    <label for="dinheiro">dinheiro</label>
                    <input placeholder="forma de pagamento" required name="pagamento" type="radio">
                    <label for="pix">pix</label>
                </div>
            <div class="container">
                <input class="btn1" type="submit"  /> 
            </div>
        </div><!--container-->
            
        <div class="clear"> </div>
            </form><!--post-->
    </section>


    <footer>
        <div class="contatos">
            <span>
                <i class="fa-brands fa-whatsapp"></i> 31 99404-7679
            </span>
            
            <span>
                telepizia de 18:00 as 23:30
            </span>
           
            <span>
                <i class="fa-brands fa-instagram"></i>@padira.primos_
            </span>
        </div>
    </footer>
    <script src="js/jquery-3.7.1.js"></script>
    <script src="js/system.js"></script>
</body>
</html>