<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/7d43f0b2b4.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>Padaria e Pizaria Primos</title>
</head>
<body>
    <header class="container"><!--header-->
        <div class="logo">
            <img src="img/logo.png">
            <div >
                <p>Padaria e pizzaria<br/>primons</p>
            </div>
        </div><!--logo-->

        
        <div class="clear"></div>
    </header>
    
    <section class="promocao">
        <div class="flex">
            <p>Tá com fome de um lanchão?<br/> confira nossos preços!</p>
        </div><!--titulo-->
        <div class="nav-galeria">
            <div class="nav-galeria-wraper">
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_1.png');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_2.jpeg');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_3.png');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_4.png');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_5.jpeg');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_6.jpeg');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_7.jpeg');" class="mini-img"></div></div>
                <div class="mini-img-wraper"><div style="background-image:url('img/imagem_8.jpeg');" class="mini-img"></div></div>
            </div><!--nav-galeria-wraper-->
        </div><!--nav-galeria-->
        <div class="clear"></div>   
    </section><!--promocao-->
    
    <section class="fazer_pedidos">
        <div class="flex">
            <p>Osmelhores lanches da região vocé encontr aqui.
                <br/>A padaria e pizzaria primos está sempre aberta
                <br/>para novos clientes
            </p>            
        </div>
        <div class="clear"></div>
        <div class="confira">
            <div class="felx">
                <p>confira nossos sabores</p>
            </div>
        </div>
        <div class="clear"></div>
        <div class="desenho">
            <a href="compras"><img src="img/hamburgue.png"></a>
            <a href="compras"><img src="img/bebida.png"></a>
            <a href="compras"><img src="img/pizza.png"></a>
        </div>
    </section><!--pedidos-->

    <footer>
        <div class="contatos">
            <span>
                <i class="fa-brands fa-whatsapp"></i> 31 99404-7679
            </span>
            
            <span>
                telepizia de 18:00 as 23:30
            </span>
           
            <span>
                <i class="fa-brands fa-instagram"></i>@padira.primos_
            </span>
        </div>
    </footer>


    
    
</body>
</html>